@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*above is default setup code, below is my own*/
body{
  background-color: #fddff9;
  background-image: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 96px, /*100px edge of square, 4px weight of line*/
        #efc5e9 96px, 
        #efc5e9 100px
    ),
    repeating-linear-gradient(
        90deg,
        transparent,
        transparent 96px, 
        #efc5e9 96px, 
        #efc5e9 100px
    );
    
    background-size: 100px 100px; /*Grid cell size, tells the bg how to repeat the pattern*/
    background-attachment: fixed; /*bg will be fixed during scrolling, only elements will move*/
    margin: 0;
}