.navbar{
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 1400px;
  background-color: #FAF5F9;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #3b4774;
  margin: auto;
  margin-top: 60px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #3b4774;
  line-height: 18px; /* Match height of container */
  
}

.logo{
  width: 110px;
  height: 55px;
  overflow: hidden;
  border-radius: 25px;
  margin-left: 3px;
}
.logo-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.links{
  display: flex;
  justify-content: space-between;
  height: 100%; /*explicitly defined it as same height as navbar cuz it wasnt inherited*/
}
.link-item{
  margin-top: 10px; /*this margin has to be half of the font size to center the text in link, otherwise horizontal half line goes below the text and text is too much towards the top rather the middle*/
  font-size: 20px;
  line-height: 70px;
  margin-right: 80px;
  text-decoration: none;
}
.link{
  display: flex;
  align-items: center;
  height: 100%;
}
.search-bar{
  border-style: solid;
  border-width: 3px;
  border-color: #3b4774;
  border-radius: 20px;
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-icon{
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
.cart-icon{
  margin-right: 20px;
  position: relative;
  display: inline-block;
}
.cart-badge {
  position: absolute;
  top: -5px; /* Adjust as needed */
  right: -5px; /* Adjust as needed */
  background-color: #FFC107; /* Change to desired color */
  padding-top: 6px;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}